.idea/
dubbo-api/target/*
dubbo-consumer/target/*
dubbo-provider/target/*
custom-udf/target/*
./dubbo-provider/target
./dubbo-consumer/target
./dubbo-provider/target/
./dubbo-consumer/target/
target/*
